<div class="main-frame">
  <div class="p-d-flex title-frame">
    <!--  Ajouter menu ads (ajouter)-->
    <p-toolbar class="toolbar">
      <div class="p-toolbar-group-left">
        <p-button label="Ajouter" icon="pi pi-plus"></p-button>
      </div>

      <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search"></p-button>
        <p-button
          icon="pi pi-calendar"
          styleClass="p-button-success"
        ></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
      </div>
    </p-toolbar>
  </div>

  <div class="p-d-flex working-frame p-shadow-3">

    <div class="p-mb-2 categ-frame">
      <app-categlist></app-categlist>
    </div>
    <div class="p-mb-2 ads-frame">

    </div>

  </div>
</div>
