<p-toolbar>
  <div class="p-toolbar-group-left">

    <button
      *ngIf="mainService.user !== null"
      (click)="goCalendar()"
      pButton
      pRipple
      type="button"
      label="Calendrier"
      style="width: 10rem;"
      class="p-button-rounded p-button-primary btn"
    ></button>
    <button
      *ngIf="mainService.user !== null"
      (click)="goList()"
      pButton
      pRipple
      type="button"
      label="Liste"
      style="width: 10rem;"
      class="p-button-rounded p-button-primary btn"
    ></button>
  </div>

  <div class="p-toolbar-group-right">

    <ng-template #userLoggedIn>
      <h3 style="margin: 0px; padding: 0px">{{getTitle() }}</h3>
    </ng-template>

    <ng-template #noUser>
      <h3 style="margin: 0px; padding: 0px">AdValvas</h3>
    </ng-template>

    <div *ngIf="mainService.user; then userLoggedIn else noUser">

    </div>


    <button
      *ngIf="mainService.user === null"
      (click)="signIn()"
      pButton
      pRipple
      type="button"
      label="S'identifier"
      class="p-button-rounded p-button-warning btn"
    ></button>
    <button
      *ngIf="mainService.user === null"
      (click)="signUp()"
      pButton
      pRipple
      type="button"
      label="S'enregistrer"
      class="p-button-rounded p-button-warning btn"
    ></button>
    <button
      *ngIf="mainService.user !== null"
      (click)="mainService.logout()"
      pButton
      pRipple
      type="button"
      label="Se Déconnecter"
      class="p-button-rounded p-button-warning btn"
    ></button>



  </div>
</p-toolbar>
