<p-toast></p-toast>
<div class="p-grid">
  <div class="p-col-1 divbtn">
    <div style="margin-top: 15px;">
      <button
        type="button"
        class="p-button-rounded p-button-outlined"
        style="width: 100%; text-align: center;"
        pButton
        label="Ajouter"
        (click)= "Add()"
      ></button>

    </div>
  </div>
  <div class="p-col">
    <p-table [value]="EVENTS" [scrollable]="true" scrollHeight="80vh">
      <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:5%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:30%">
            <col style="width:30%">
            <col style="width:15%">

        </colgroup>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Date</th>
          <th>Heure</th>
          <th>Repas</th>
          <th>Remarque</th>
          <th>Score</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
        <tr [ngClass]="{ row_dejeuner: event.moment === '08:00:00' }">
          <td
            [ngClass]="{ row_dejeuner: event.moment === '08:00:00' }"
            [width]="90"
          >
            <i class="pi pi-pencil myIcon"
            (click)="Edit(event)"></i>
            <i
              class="pi pi-minus-circle myIcon"
              (click)="onMinusClick(event.id)"
            ></i>
          </td>
          <td
            [ngClass]="{ row_dejeuner: event.moment === '08:00:00' }"
            [width]="150"
          >
            {{ event.date }}
          </td>
          <td
            [ngClass]="{ row_dejeuner: event.moment === '08:00:00' }"
            [width]="100"
          >
            {{ event.moment }}
          </td>
          <td [ngClass]="{ row_dejeuner: event.moment === '08:00:00' }"
          [width]="800">
            {{ event.content }}
          </td>
          <td [ngClass]="{ row_dejeuner: event.moment === '08:00:00' }"
          [width]="800">
            {{ event.remarque }}
          </td>
          <td>
            <p-rating (onRate)="rateChange($event,event)" (onCancel)="rateClean($event, event)" [ngModel]="event.rating"></p-rating>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
